body{ 
	background:url(../images/bg.png) fixed;
}
.main_area{background-color:#FFFFFF;box-shadow: 0px 0px 21px 2px #ccc;}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
padding-right: 2.5px;
    padding-left: 2.5px;	
	
	
	
}

.ad_left{width:305px; z-index:1}
.row_field{margin-bottom:15px;}

/*



h1{font-size:14px; margin:0; text-align:left; color:#3C66B0; border-bottom:1px solid #DDDDDD; padding-bottom:5px; margin-bottom:5px;}
h2{font-size:16px;margin:0; text-align:left; }
h2 a{color:#000000;}
hr{margin-bottom:5px; margin-top:5px;}
.imgClass { 
	background:none;
	border: 0;
	cursor: pointer;
	outline: 0;
}
.nav-tabs > li{font-size: 14px;}
.nav > li > a{padding: 3px 4px;}
.tab-content > .tab-pane{padding-top: 10px;}
.modal-dialog{width:1000px;z-index: 10000;}
.modal-content{width:1000px; color:#000000;}

.btn-with{background-color:#3F8CD8; color:#FFFFFF; width:160px !important;}

.btn-with:hover{background-color:#3F8CD8; color:#FFFFFF;}



footer a{
	
box-sizing: border-box;
color: rgb(66, 139, 202);
text-decoration: none;
font-family: 'Oswald', sans-serif;
font-size: medium;
font-style: normal;
font-variant: normal;
font-weight: normal;
letter-spacing: normal;
line-height: 22.8571434020996px;
orphans: auto;
text-align: center;
text-indent: 0px;
text-transform: none;
white-space: normal;
widows: auto;
word-spacing: 0px;
-webkit-text-stroke-width: 0px;
	
	
	
	
	}



#adcopy-outer #adcopy-link-logo img {
	vertical-align: middle;
	visibility: hidden;
}
	
#adcopy-outer {
	background-color: #FFFFFF !important;
	color: #000;
	border: 1px solid #bbb;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 298px!important;
	padding: 18px!important;
	margin: 0px;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}
*/